@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --brand-color:#2D3E37;
  --brand-brown:#BF8963;
  --brand-brown2:#EAD2C3;
  --brand-grey:#444444;
  --berfilem: 'Berfilem';
  --josefin: 'Josefin Sans','sans-serif';
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--josefin);
}
body{
  overflow-x: hidden;
}
.brand-color{
  color: var(--brand-color);
}
.brand-brown{
  color: var(--brand-brown);
}
.brand-brown2{
  color: var(--brand-brown2);
}
.brand-grey{
  color: var(--brand-grey);
}
.bg-brand-color{
  background-color: var(--brand-color);
}
.bg-brand-brown{
  background-color: var(--brand-brown);
}
.bg-brand-brown2{
  background-color: var(--brand-brown2);
}
.bg-brand-grey{
  background-color: var(--brand-grey);
}
nav{
  background-color: #2d3e3779
}
.scrolled-down{
  box-shadow:0 0 20px var(--brand-grey);
}
nav a{
  text-decoration: none;
  color: var(--brand-brown2);
}
nav a:hover{
  color: white;
}
.scrolled-down a{
  color: #2d3e378a;
}
.scrolled-down a:hover{
  color: var(--brand-color);
}
.social-media-links a{
  background-color: transparent;
  color: var(--brand-brown);
}
.social-media-links a:hover{
  background-color: var(--brand-brown);
  color: var(--brand-color);
}
.fs-small{
  font-size: 14px;
}
.fs-small span{
  color: var(--brand-brown);
}
.shadow-text {
  text-shadow: 2px 2px 0px var(--brand-brown2);
}
.shadow-text-light {
  text-shadow: .7px .7px 0px var(--brand-brown2);
}